<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion Productos</title>
</head>
<body>

    <nav>
        <a href="/productos"> Listado Productos |</a>
        <a href="/ventas_Detalles"> Listado Ventas Detalles |</a>
        <a href=""> Crear |</a>
    </nav>


    <form method="POST" action="/productos/crear">
            
        <fieldset ><legend>Creacion</legend>
            <label>NOMBRE<input type="text" name="nombre" id="nombre"> </input> </label></br></br>
            <label>CODIGO<input type="text" name="codigo" id="codigo"> </input> </label></br></br>
            <label>MODELO<input type="text" name="modelo" id="modelo"> </input> </label></br></br>
            <label>FAMILIA<input type="text" name="familia" id="familia"> </input> </label></br></br>
            <label>STOCK<input type="number" name="stock" id="sotck"> </input> </label></br></br>
            <button>BOTON</button>

        </fieldset>
        
    </form>

    
</body>
</html>