<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Edicion</title>
        <meta charset="utf-8" />
        <meta name="description" content="Listado">
    </head>
    <body>
        <nav>
            <a href="/productos"> Listado Productos |</a>
        </nav>
        <header>
            <h1>Edicion</h1>
            <p>Interfaz de Edicion Productos</p>

        </header>

        <section>
           
            <form method="POST" action="/productos/actualizar">
                <% if(resultados.length == 0 ) { %>
                    <h3>No se encontraron resultados </h3>
                <% } else { %>
                  
                    <label for="">ID:</label><input value="<%= resultados.idProducto %>" name="id" >
                    <fieldset ><legend>Creacion</legend>
    
                    <label>NOMBRE<input value="<%= resultados.nombre %>" type="text" name="nombre" id="nombre"> </input> </label></br></br>
                    <label>CODIGO<input value= "<%= resultados.codigo %>" type="text" name="codigo" id="codigo"> </input> </label></br></br>
                    <label>MODELO<input value="<%= resultados.modelo %>" type="text" name="modelo" id="latitud"> </input> </label></br></br>
                    <label>FAMILIA<input value="<%= resultados.familia %>" type="text" name="familia" id="longitud"> </input> </label></br></br>
                    <label>STOCK<input value="<%= resultados.stock %>" type="number" name="stock" id="cantidad"> </input> </label></br></br>
                    <button>BOTON</button>
                        
                </fieldset>

                <% } %>
            </form>

        </section>

        <footer>
            Carlos Morteira UG0506
        </footer>
    </body>
</html>