<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Productos</title>
</head>
<body>
    
    <nav>
        <a href="/productos/creacionProductos"> Crear Productos |</a>
        <a href="/ventas"> Listado Ventas |</a>
        <a href="/ventas_Detalles"> Listado Ventas Detalles |</a>
    </nav>

    <h1>Listado Productos</h1>
    <form method="GET" action="/productos">
        <fieldset>
            <legend>Filtrar resultados</legend>
            <label> Título </label>
            <input type="text" name="titulo" value= "<%= filtro %>">
        </fieldset>
        <input type="submit" value="Buscar">
    </form>
    
<br>

<% if(resultados.length == 0 ) { %>
    <h3>No se encontraron resultados </h3>
<% } else { %>
<table >
    <thead> 
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo</th>
            <th scope="col">Modelo</th>
            <th scope="col">Familia</th>
            <th scope="col">Stock</th>
            <th scope="col">Visualizar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>   
    </thead>
        <% resultados.forEach(elemento => { %>   
            <tr>
                <td><%= elemento.idProducto %></td>
                <td><%= elemento.nombre %></td>
                <td><%= elemento.codigo %></td>
                <td><%= elemento.modelo %></td>
                <td><%= elemento.familia %></td>
                <td><%= elemento.stock %></td>
                <td><a href="/productos/<%= elemento.idProducto %>">Ver <br> Registro </a></td>
                <td><a href="/productos/borrar/<%= elemento.idProducto %>"><br> Eliminar </a></td>
                <td><a href="/productos/edicion/<%= elemento.idProducto %>"><br> Editar </a></td>
            </tr>
        <% }) %>
</table>
<% } %>

    
</body>
</html>