<!DOCTYPE html>
<html lang="es">
    <head>
        <title>visualizacion</title>
        <meta charset="utf-8" />
        <meta name="description" content="Creacion">
        
        
    </head>
    <body>

        <nav>
            <a class="active" href="/">Home |</a>
            <a href="/productos"> Listado Productos |</a>

            <h1>Visualizacion Productos</h1>
            <h3>Interfaz de visualizacion...</h3>
        </nav>

        <% console.log('Hello World!') %>
        <section>
        <% if(resultados !== 0){ %>
            Nombre: <%= resultados.nombre%> <br>
            Id: <%= resultados.idProducto%>
        
        <% } else {%>
            <h5>No se encontraron resultados </h5>

        <% } %>
        </section>

        
        <footer>
            <div id="footer_div">
                Morteira Carlos </br>
                UG0506</div>
        </footer>
    </body>
</html>