<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion Productos</title>
</head>
<body>

    <nav>
        <a href="/ventas"> Listado Ventas |</a>
        <a href="/ventas_Detalles"> Listado Ventas Detalles |</a>
        <a href=""> Crear |</a>
    </nav>


    <form method="POST" action="/ventas/crear">
            
        <fieldset ><legend>Creacion</legend>
            <label>NRO_FACTURA<input type="number" name="nro_factura" id="nro_factura"> </input> </label></br></br>
            <label>FECHA<input type="date" name="fecha" id="fecha"> </input> </label></br></br>
            <label>TOTAL<input type="number" name="total" id="total"> </input> </label></br></br>
            <label>IVA5<input type="number" name="iva5" id="iva5"> </input> </label></br></br>
            <label>IVA10<input type="number" name="iva10" id="iva10"> </input> </label></br></br>
            <button>BOTON</button>

        </fieldset>
        
    </form>

    
</body>
</html>