<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Edicion</title>
        <meta charset="utf-8" />
        <meta name="description" content="Listado">
    </head>
    <body>
        <nav>
            <a href="/productos"> Listado Productos |</a>
        </nav>
        <header>
            <h1>Edicion</h1>
            <p>Interfaz de Edicion Productos</p>

        </header>

        <section>
           
            <form method="POST" action="/ventas/actualizar">
                <% if(resultados.length == 0 ) { %>
                    <h3>No se encontraron resultados </h3>
                <% } else { %>
                  
                    <label for="">nro_factura:</label><input value="<%= resultados.nro_factura %>" name="id" >
                    <fieldset ><legend>Creacion</legend>
    
                    <label>FECHA<input value="<%= resultados.nombre %>" type="date" name="fecha" id="fecha"> </input> </label></br></br>
                    <label>TOTAL<input value= "<%= resultados.total %>" type="total" name="total" id="total"> </input> </label></br></br>
                    <label>IVA10<input value="<%= resultados.iva10 %>" type="number" name="iva10" id="iva10"> </input> </label></br></br>
                    <label>IVA5<input value="<%= resultados.iva5 %>" type="number" name="iva5" id="iva5"> </input> </label></br></br>
                    <button>BOTON</button>
                        
                </fieldset>

                <% } %>
            </form>

        </section>

        <footer>
            Carlos Morteira UG0506
        </footer>
    </body>
</html>