<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Ventas</title>
</head>
<body>
    
    <nav>
        <a href="/productos"> Listado Productos |</a>
        <a href="/ventas_Detalles"> Listado Ventas Detalles |</a>
        <a href="/ventas/creacionVentas"> Crear |</a>
    </nav>

    <h1>Listado Ventas</h1>



    <form method="GET" action="/ventas">
        <fieldset>
            <legend>Filtrar resultados</legend>
            <label> Título </label>
            <input type="text" name="titulo" value= "<%= filtro %>">
        </fieldset>
        <input type="submit" value="Buscar">
    </form>

    <% if(resultados.length == 0 ) { %>
        <h3>No se encontraron resultados </h3>
    <% } else { %>
    <table >
        <thead> 
            <tr>
                <th scope="col">nro_factura</th>
                <th scope="col">fecha</th>
                <th scope="col">total</th>
                <th scope="col">iva10</th>
                <th scope="col">iva5</th> 
                <th scope="col">Visualizar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Editar</th>
                </tr>   
        </thead>
            <% resultados.forEach(elemento => { %>   
                <tr>
                    <td><%= elemento.nro_factura %></td>
                    <td><%= elemento.fecha%></td>
                    <td><%= elemento.total %></td>
                    <td><%= elemento.iva10 %></td>
                    <td><%= elemento.iva5 %></td>
                    <td><a href="/ventas/<%= elemento.nro_factura %>">Ver <br> Registro </a></td>
                <td><a href="/ventas/borrar/<%= elemento.nro_factura %>"><br> Eliminar </a></td>
                <td><a href="/ventas/edicion/<%= elemento.nro_factura %>"><br> Editar </a></td>
                </tr>
            <% }) %>
    </table>
    <% } %>


    
</body>
</html>