<!DOCTYPE html>
<html lang="es">
    <head>
        <title>visualizacion</title>
        <meta charset="utf-8" />
        <meta name="description" content="Creacion">
        
        
    </head>
    <body>

        <nav>
            
            <a href="/ventas"> Listado Ventas |</a>

            <h1>Visualizacion Productos</h1>
            <h3>Interfaz de visualizacion...</h3>
        </nav>

        <% console.log('Hello World!') %>
        <section>
        <% if(resultados !== 0){ %>
            Nombre: <%= resultados.nro_factura%> <br>
            Fecha: <%= resultados.fecha%><br>
            Total: <%= resultados.total%><br>
            Iva10: <%= resultados.iva10%><br>
            Iva5: <%= resultados.iva5%><br>
        
        <% } else {%>
            <h5>No se encontraron resultados </h5>

        <% } %>
        </section>

        
        <footer>
            <div id="footer_div">
                Morteira Carlos </br>
                UG0506</div>
        </footer>
    </body>
</html>