<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Ventas Detalles</title>
</head>
<body>
    
    <nav>
        <a href="/productos"> Listado Productos |</a>
        <a href="/ventas"> Listado Ventas |</a>
        <a href=""> Crear |</a>
    </nav>

    <h1>Listado Ventas Detalles</h1>

<!-- 
    <form method="GET" action="">
        <fieldset>
            <legend>Filtrar resultados</legend>
            <label> Título </label>
            <input type="text" name="titulo" value= "">
        </fieldset>
        <input type="submit" value="Buscar">
</form> -->
    


    
</body>
</html>